<!DOCTYPE html>
<html>

<head>
	<title>主页</title>
	<meta charset="utf-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style type="text/css">
		.panel-title {
			font-size: 24px;
			font-weight: bold;
		}

		.spys {
			list-style-type: none;
		}

		.spys li {
			float: left;
			margin: 10px 10px;
			width: 180px;
			height: 230px;
		}

		.spys li div strong {
			color: red;
		}

		ul li.list-group-item {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div style="margin:50px auto;width: 900px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div style="display: flex;align-items: center;justify-content: space-between;">
					<span style="font-size:20px; font-weight:bold;">商品展示页</span>
					<div style="display: flex;align-items: center;">
						<a class="btn btn-xs btn-success" href="addcommodity" style="margin-right: 35px;">添加商品</a>
						<a class="btn btn-xs btn-success" href="cart" style="margin-right: 35px;">购物车</a>
						<a class="btn btn-xs btn-info" href="logout">退 出</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<ul class="spys">
					<%for(let i in Commoditys){ if(!Commoditys[i].name)continue;%>
						<li class="spys li">
							<div>
								<img width="80" height="100" src="/images/<%=Commoditys[i].imgSrc%>">
							</div>
							<div>
								<a>
									<%=Commoditys[i].name%>
								</a>
								<strong style="color:red;">￥<%=Commoditys[i].price%></strong>
							</div>
							<div>
								<a class="btn btn-primary btn-sm" style="width: fit-content;"
									href="/addToCart/<%=Commoditys[i]._id%>" onclick="alert('加入购物车成功')">加入购物车</a>
								<a class="btn btn-danger btn-sm" style="width: fit-content;"
									href="/delFromCommodity/<%=Commoditys[i]._id%>">删除</a>
							</div>
						</li>
						<%}%>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div style="text-align: left">
					<span style="font-size:20px; font-weight:bold;">实例展示</span>
				</div>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="/crawler">图片抓取</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		$('.list-group').on('click',)
	</script>
</body>

</html>